<div>
  <h3><%= link_to "Housing", root_path %> < <%= link_to @category.description, category_posts_path(@category)  %> < New Posting </h3>

  <%= form_for @post, url: {action: "create" } do |f| %>
    <%= f.label :title %></br>
    <%= f.text_field :title %></br>
        </br>
    <%= f.label :rent %></br>
    <%= f.text_field :rent %></br>
        </br>
    <%= f.label :area %></br>
    <%= f.text_field :area %></br>
        </br>
    <%= f.label :description %></br>
    <%= f.text_area :description, size: "60x12" %>
        </br>
    <%= f.label :email %></br>
    <%= f.text_field :email %></br>
        </br>
    <%= f.submit %>
  <% end %>
</div>
